.App {
  text-align: center;
}
.deviceSelectorPanel {
  text-align: center;
}
.deviceSelectorPanel h6 {
  margin-top: 1em;
  font-size: 1.1rem;
  font-weight: bold;
}
.deviceSelectorPanel p {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.deviceSelectorPanel button {
  width: 80%;
}
.MuiListItemText-multiline {
  word-wrap: break-word;
}